ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
li a.hover-light:hover {
    background-color: black;
    color: #fff;
}

li a.hover-dark:hover {
    background-color: #111;
    color: #fff;
}
#btn{
    width:180px;
    height:40px;
    margin-top:20px;
    border-radius: 10px;
    border:1px solid rgb(201, 198, 198)
}
